/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#today_{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#show_p{
  -webkit-box-flex:6;
      -ms-flex:6;
          flex:6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: aqua;
}
body{
  -webkit-text-size-adjust: 100%;
  background-color: #24252F;
}
.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  overflow-x: auto;
  margin: 2em 0 0 0;
}
.inner {
  margin: 0.3em;
  max-width: 2em;
  -webkit-box-flex: 0 0 5%;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  height: 2em;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
}
#imgs{
  -o-object-fit: cover;
     object-fit: cover;
}

#button_css{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#button_{
  -webkit-box-flex:4;
      -ms-flex:4;
          flex:4
}

#button1{
  text-align: left;
  /* margin: 0 0 10 0; */
}

#button2 {
  text-align: right;
}

#bottom-out{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aqua;
  text-align: center;
}
#bottom-coin{
  -webkit-box-flex:4;
      -ms-flex:4;
          flex:4;
  overflow: auto;
  padding: 0 2em 0 0;
}

#bottom-in{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aqua;
}
#posi{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* text-align: center; */
}
#dist{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* display: flex; */
  /* text-align: center; */
}
#dist-in{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 2em;
  margin: 2.6em 0 0 0;
}

#single-coin{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  overflow-x: auto;
}
.inner2{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
}
#main-bottom{
  height: 28em;
  overflow: auto;
  /* margin: 2em 0 0 0; */
}