/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
  -webkit-text-size-adjust: 100%;
  background-color: #24252F;
}
.outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  overflow-x: auto;
}
.inner {
  margin: 0.3em;
  max-width: 2em;
  -webkit-box-flex: 0 0 5%;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  height: 2em;
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
}
#imgs{
  -o-object-fit: cover;
     object-fit: cover;
}

#button_css{
  display: flex;
}

#button_{
  flex:4
}

#button1{
  text-align: left;
  /* margin: 0 0 10 0; */
}

#button2 {
  text-align: right;
}